<header>

</header>
<div class="container-titles">
    <h1 class="ecommerce-title">Todos los productos en tiempo real</h1>
</div>
<section>
    <div class="container-products">
        <div class="products">
            <ul id="product-list">
        
            </ul>
        </div>
    </div>

    <div class="pagination">
    <button id="prev-page">P치gina Anterior</button>
    <span id="current-page">P치gina: 1</span>
    <button id="next-page">P치gina Siguiente</button>
</div>
</section>
<section class="form-container">
    <div>
        <form action="" id="insert-product" class="add-form">
            <h3>Formulario para agregar producto</h3>
            <input type="text" name="title" id="title" placeholder="Ingresa el nombre del producto">
            <input type="text" name="price" id="price" placeholder="Ingresa el precio del producto">
            <input type="text" name="description" id="description" placeholder="Ingresa la descripcion del producto">
            <input type="text" name="stock" id="stock" placeholder="Ingresa el stock">
            <input type="text" name="category" id="category" placeholder="Ingresa la categoria del producto">
            <input type="text" name="code" id="code" placeholder="Ingresa el codigo del producto">
            <div id="status"><p>Esta activo? </p>
                <input type="checkbox" name="status" id="status">
            </div>
            <input type="submit" value="Guardar">
            <p class="error-message" id="error-message"></p>
        </form>
    </div>

    <div class="delete-container">
        <h3>Eliminaci칩n de productos</h3>
            <div class="ingredients__delete">
                <input type="number" class="products__delete__input" id="input-product-id"
                    placeholder="ID del Producto">
                <button id="btn-delete-product">Eliminar</button>
            </div>
    </div>
</section>



   

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/products.socket.js"></script>

